#logo_pic{
width:172%;
margin-left:0px;
margin-top:0px;
}
#info_pic{
width:12%;
margin-left:685px;
margin-top:100px;
}
#about_pic{
width:80%;
margin-left:410px;
margin-top:130px;
}
.headings{
position:absolute;
top:70px;
left:650px;
}
#home_bt{
font-size:32px;
font-family:sans-serif;
color:black;
}
#port_bt{
font-size:32px;
font-family:sans-serif;
color:black;
margin-left:35px;
}
#works_bt{
font-size:32px;
font-family:sans-serif;
color:black;
margin-left:35px;
}
#about_bt{
font-size:32px;
font-family:sans-serif;
color:pink;
margin-left:35px;
}
#con_bt{
font-size:32px;
font-family:sans-serif;
color:black;
margin-left:35px;
}
#f1{
font-size:35px;
font-family:sans-serif;
color:black;
margin-left:570px;
margin-top:40px;
}
#f2{
font-size:35px;
font-family:sans-serif;
color:black;
margin-left:640px;
padding-bottom:70px;
}
#f3{
font-size:35px;
font-family:sans-serif;
color:black;
margin-left:610px;
}
#f4{
font-size:35px;
font-family:sans-serif;
color:black;
margin-left:660px;
padding-bottom:70px;
}
#f5{
font-size:35px;
font-family:sans-serif;
color:black;
margin-left:600px;
}
#f6{
font-size:35px;
font-family:sans-serif;
color:black;
margin-left:565px;
padding-bottom:70px;
}
#f7{
font-size:35px;
font-family:sans-serif;
color:black;
margin-left:615px;
}
#f8{
font-size:35px;
font-family:sans-serif;
color:black;
margin-left:580px;
}
#f9{
font-size:35px;
font-family:sans-serif;
color:black;
margin-left:605px;
}
#f10{
font-size:35px;
font-family:sans-serif;
color:black;
margin-left:630px;
padding-bottom:70px;
}
#f11{
font-size:35px;
font-family:sans-serif;
color:black;
margin-left:650px;
}
#f12{
font-size:10px;
font-family:sans-serif;
color:black;
margin-left:520px;
padding-bottom:170px;
}
#f13{
font-size:35px;
font-family:sans-serif;
color:black;
margin-left:620px;
padding-bottom:70px;
.infoes{
width:100%;
}
.nav{
text-decoration:none;
}
